<html>
<head>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"/>
<title>
Denexx Blog</title>
</head>
<body>
<body leftmargin="100px" topmargin="100px" marginwidth="60px" marginheight="70px">
<div class="container">

<h1 style="background-color:red " ><p style="text-align:center">Welcome to Denexx blog</p></h1></div>
<a href="/blog/posts">
<h2><p style="text-align:center">click to view  Myblog</p> </h2>
</a>

<div id="content">
{% block content %}
{% endblock %}
</div>
</div>
</body>
</html>
